// Fonts
$primary-font: lato-regular;
$secondary-font: tarjan-pro;
// Color
$base-color: #F2E162;
$text-color: #272727;
$links-hover-color: #265781;
$base-bg-color: #1b7642;
$text-white: #FFFFFF;
// Container and Grid Spacing
$container-width: 1280px;
$grid-space: 15px;
// path
$images-path: "../images" !default;
// icomoon
$icomoon-path: "../fonts/icomoon" !default;