.card-carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .my-card {
        height: 23.875rem;
        width: 19.9375rem;
        position: relative;
        z-index: 1;
        -webkit-transform: scale(0.6) translateY(-2rem);
        transform: scale(0.6) translateY(-2rem);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 1s;
        @include breakpoint(ipad-max) {
            height: 23.875rem;
            width: 12.9375rem;
        }
        @include breakpoint(mobile-max) {
            height: 20rem;
            width: 9rem;
        }
        @include breakpoint(custom-small-mobile-max) {
            height: 15rem;
            width: 30%;
        }
        &__top {
            position: absolute;
            height: auto;
            opacity: 1;
            color: #505050;
            background-color: $text-white;
            right: 39px;
            top: 29px;
            border-radius: 5px;
            display: flex;
            padding: 9px 11px 9px 11px;
            @include breakpoint(mobile-max) {
                right: 7px;
                top: 9px;
                padding: 3px 11px 4px 11px;
            }
            .date {
                font-family: SFCompactDisplay;
                font-weight: 400;
                @include fontSize(41px);
                @include breakpoint(ipad-max) {
                    @include fontSize(25px);
                }
                @include breakpoint(mobile-max) {
                    @include fontSize(8px);
                }
            }
            .month-year {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 5px;
                @include breakpoint(mobile-max) {
                    flex-direction: row;
                }
                span {
                    font-family: SFCompactDisplay;
                    font-weight: 900;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    @include breakpoint(mobile-max) {
                        @include fontSize(8px);
                    }
                }
            }
        }
        &__bottom {
            opacity: 1;
            padding: 14px 17px 14px 22px;
            width: 100%;
            height: auto;
            background-color: rgba(10, 10, 10, 0.5);
            color: white;
            bottom: 0;
            position: absolute;
            left: 0;
            @include breakpoint(mobile-max) {
                padding: 7px 5px 5px 4px;
            }
            h2 {
                @include fontSize(22px);
                color: #ffffff;
                @include breakpoint(ipad-max) {
                    @include fontSize(16px);
                    font-weight: 700;
                }
                @include breakpoint(mobile-max) {
                    @include fontSize(14px);
                }
                @include breakpoint(custom-small-mobile-max) {
                    @include fontSize(10px);
                }
            }
            p {
                @include fontSize(16px);
                color: #ffffff;
                @include breakpoint(ipad-max) {
                    @include fontSize(11px);
                    font-weight: 700;
                }
                @include breakpoint(mobile-max) {
                    @include fontSize(7px);
                }
            }
            a {
                display: inline-block;
                background-color: #F2E162;
                width: 40px;
                height: 41px;
                border-radius: 10px;
                position: relative;
                @include breakpoint(ipad-max) {
                    width: 30px;
                    height: 34px;
                }
                @include breakpoint(mobile-max) {
                    width: 24px;
                    height: 23px;
                }
                span {
                    position: absolute;
                    width: 23px;
                    height: 14px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid #272727;
                    @include breakpoint(ipad-max) {
                        width: 15px;
                        height: 11px;
                    }
                    @include breakpoint(mobile-max) {
                        width: 10px;
                        height: 8px;
                    }
                }
            }
        }
        &:nth-child(0) {
            &:before {
                content: '0';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                @include breakpoint(mobile-max) {
                    height: 20rem;
                    width: 9rem;
                }
                @include breakpoint(custom-small-mobile-max) {
                    height: 15rem;
                    width: 100%;
                }
            }
        }
        &:nth-child(1) {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                background-image: url("../images/news-img-first.png");
                height: 23.875rem;
                width: 19.9375rem;
                background-repeat: no-repeat;
                @include breakpoint(ipad-max) {
                    height: 23.875rem;
                    width: 12.9375rem;
                }
                @include breakpoint(mobile-max) {
                    height: 20rem;
                    width: 9rem;
                }
                @include breakpoint(custom-small-mobile-max) {
                    height: 15rem;
                    width: 100%;
                }
            }
        }
        &:nth-child(2) {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                background-image: url("../images/news-img-second.png");
                height: 23.875rem;
                width: 19.9375rem;
                background-repeat: no-repeat;
                @include breakpoint(ipad-max) {
                    height: 23.875rem;
                    width: 12.9375rem;
                }
                @include breakpoint(mobile-max) {
                    height: 20rem;
                    width: 9rem;
                }
                @include breakpoint(custom-small-mobile-max) {
                    height: 15rem;
                    width: 100%;
                }
            }
        }
        &:nth-child(3) {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                font-size: 3rem;
                font-weight: 300;
                color: #fff;
                background-image: url("../images/news-img-third.png");
                height: 23.875rem;
                width: 19.9375rem;
                background-repeat: no-repeat;
                @include breakpoint(ipad-max) {
                    height: 23.875rem;
                    width: 12.9375rem;
                }
                @include breakpoint(mobile-max) {
                    height: 20rem;
                    width: 9rem;
                }
                @include breakpoint(custom-small-mobile-max) {
                    height: 15rem;
                    width: 100%;
                }
            }
        }
        &.active {
            z-index: 3;
            -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
            opacity: 1;
            pointer-events: auto;
            transition: 1s;
        }
        &.prev,
        &.next {
            z-index: 2;
            -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
            transform: scale(0.8) translateY(-1rem) translateX(0);
            opacity: 1;
            pointer-events: auto;
            transition: 1s;
            .my-card__bottom {
                p,
                a {
                    display: none;
                }
            }
        }
    }
}